@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100%; 
    overflow: hidden;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #daf4fb;
    background-color: #121212;
    height: 100vh; 
    align-items: center;
}
input{
    font-family: inherit;
    width: 100vw;
    border: 0;
    border-bottom: 2px solid  #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
input:focus{
    padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #82daf2,#ec6e4c);
  border-image-slice: 1;
}

.daily-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    width: 100vw;
    justify-content: center;
    margin: 2rem 0;
}
.fahrenheit{
    color:#ec6e4c;
}

@media (min-width: 600px) {
    input{
        font-size: 2rem;
    }
  }